@import "tailwindcss";

/* Custom Scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #374151; /* gray-700 */
  border-radius: 10px;
}
